<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align :center">formulaire d'inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="RegisterForm">


    <div class="inputfield">
      <ion-input type="text" [ngModelOptions]="{standalone:true}" placeholder="Enter your email here"
        [(ngModel)]="valuefromuser"></ion-input>


      <ion-input type="text" [ngModelOptions]="{standalone:true}" placeholder="Enter your name" formControlName="name"
        [(ngModel)]="valuefromuser"></ion-input>
    </div>
    <ion-button (click)="submit()">Submit</ion-button>
    <ion-item>
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

  </form>
</ion-content>